@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-50;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.navbar-active {
  @apply font-semibold transition duration-300 ease-in-out;
}

.quote-svg-background {
  width: 130px;
  height: 188px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22104%22%20height%3D%2282%22%20viewBox%3D%220%200%20104%2082%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.05391%2081.4C2.85391%2069.4%200.753907%2057.5%200.753907%2045.7C0.753907%2032.1%204.35391%2021.2%2011.5539%2013C18.7539%204.59999%2029.2539%200.39998%2043.0539%200.39998V19.3C32.4539%2019.3%2027.1539%2026.1%2027.1539%2039.7V44.2H46.3539V81.4H7.05391ZM63.7539%2081.4C59.7539%2069.2%2057.7539%2057.3%2057.7539%2045.7C57.7539%2032.1%2061.2539%2021.2%2068.2539%2013C75.4539%204.59999%2085.9539%200.39998%2099.7539%200.39998V19.3C89.3539%2019.3%2084.1539%2026.1%2084.1539%2039.7V44.2H103.054V81.4H63.7539Z%22%20fill%3D%22%23F4F2F2%22%2F%3E%3C%2Fsvg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#underline {
  position: absolute;
  height: 1px;
  background-color: #0e45ff;
  bottom: 28px;
  transition: left 0.3s ease, width 0.3s ease;
  width: 0;
}
